.menu{
  width: 60%;
  min-height: 50vh;
  border-left: 2px solid white;
  border-right: 2px solid white;
  margin: 10px 0;
  gap: 20px;
  background-color: #00000046;
}

.link{
  width: 80%;
  padding: 12px;
  font-size: 1.4rem;
}
