.board{
    position: relative;
    width: 50%;
    min-height: 65vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
}

.board div{
    width: 100%;
    aspect-ratio: 5/4;
    position: relative;
    border-radius: 16px;
}

.house{
    background-color: #FFFFFF;
}

.event{
    background-color: #e8e8e8;
}

.empty{
    background-color: #00000000;
}

