.bankButton {
    width: 120px;
    height: 40px;
    background-color: #FFFF00;
    border: none;
    color: #242959;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border-radius: 8px;
    z-index: 20;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.bankButton img{
    width: 30px;
    height: 30px;
    color: #242959;
}
