*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: linear-gradient(#295695, #1ea5ca);
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace;
}