body{
    background-color: #1A5394;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    border-left: solid white;
    border-right: solid white;
    height: 50vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

main button{
    width: 50%;
    font-size: 1.4rem;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

main button:hover{
    scale: 1.1;
}

main h2{
    color: white;
    text-shadow: black 2px 2px 10px;
}
