/* ESTILOS GLOBAIS DE CSS*/

/*ESTILOS GLOBAIS PARA DISPLAY FLEX*/
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
}

.rowCenter{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  position:relative;
}

.around{
  display:flex;
  align-items: center;
  justify-content: space-around;
  position:relative;
}


.responsiveGrow{
  width: 100%;
}

/*ESTILOS GLOBAIS DE BOTÕES*/
.button{
  font-weight: 600;
  border: solid 2px #FFFFFF;
  padding: 8px;
  border-radius: 0.5rem;
  color: #FFFFFF;
  box-shadow: #000000AA 0 0 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button img{
  width: 30px;
}

.info{
  background-color: #19D00F;
}

.secure{
  background-color: #00AACC;
}

.atention{
  background-color: #F5A623;
}

.play{
  background-color: #F57004;
}

.close{
  background-color: #F52020;
}

/*input*/
.input{
  border:none;
  border-radius: 8px;
  font-size: 1.1rem;
  padding: 4px;
  min-width: 200px;
}

.perfil{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #00000030;
    border: solid 2px white;
}